# -----------------------------------------------------------------
# CONFIGURATION FILE
# When you deploy the MCP server to Azure, it will generate the .env automatically.
# ```
# postprovision:
#   posix:
#     shell: sh
#     run: ./infra/write_env.sh && ./infra/auth_update.sh
#     continueOnError: true
# ```
# However, if you want to customize any value, you can copy this file to .env
# and modify the values as needed.
# -----------------------------------------------------------------
AZURE_TENANT_ID=YOUR_TENANT_ID_HERE

# OPENAI CONFIGURATION
AZURE_OPENAI_CHAT_DEPLOYMENT=gpt-4o-mini
AZURE_OPENAI_CHAT_MODEL=gpt-4o-mini
AZURE_OPENAI_ENDPOINT=YOUR_OPENAI_ENDPOINT

# COSMOS DB CONFIGURATION
AZURE_COSMOSDB_ACCOUNT=YOUR_COSMOSDB_ACCOUNT
AZURE_COSMOSDB_DATABASE=expenses-database
AZURE_COSMOSDB_CONTAINER=expenses
AZURE_COSMOSDB_USER_CONTAINER=user-expenses
AZURE_COSMOSDB_OAUTH_CONTAINER=oauth-clients

# APPLICATION INSIGHTS CONFIGURATION
APPLICATIONINSIGHTS_CONNECTION_STRING=YOUR_INSIGHTS_CONNECTION_STRING

# OPENTELEMETRY CONFIGURATION
OPENTELEMETRY_PLATFORM=appinsights

# MCP CONFIGURATION
MCP_ENTRY=server_http_azure_deployed_mcp # Options: server_http_azure_deployed_mcp, server_auth_mcp
MCP_AUTH_PROVIDER=none # Options: none, keycloak
MCP_SERVER_URL=YOUR_MCP_SERVER_URL

# KEYCLOAK CONFIGURATION
KEYCLOAK_MCP_SERVER_BASE_URL=YOUR_KEYCLOAK_MCP_SERVER_BASE_URL
KEYCLOAK_REALM_URL=YOUR_KEYCLOAK_REALM_URL
KEYCLOAK_TOKEN_ISSUER=YOUR_KEYCLOAK_TOKEN_ISSUER
KEYCLOAK_AGENT_REALM_URL=YOUR_KEYCLOAK_AGENT_REALM_URL

# API HOST CONFIGURATION
API_HOST=azure


